
<div class="bar bar-header">
  <div class="h1 title">Eventos de {{currentPlace.name}}</div>
  <button class="button button-clear button-royal" ng-click="closeEventsModal()">Fechar</button>
</div>

<ion-content scroll="true" style="padding-top: 45px; background: #e4e5e7;">

  <div class="modal list events" style="background: #e4e5e7;">
    <div class="list card" ng-repeat="event in currentPlace.events | reverse track by $index " ng-click="event.descrOpen = !event.descrOpen">
      <div class="item item-divider event-title">
        <h2>{{event.name}}</h2>
        <p>{{event.formatDate}}</p>
      </div>

      <div class="item item-image event-image">
        <img ng-src="{{event.cover.source}}">
      </div>

      <div class="item item-body event-descr" ng-class="{'open': event.descrOpen}" ng-bind-html="event.description">
      </div>

      <div class="item item-image event-numbers">
        <span class="subdued">{{event.attending_count}} confirmados - </span>
        <span class="subdued">{{event.interested_count}} interessados</span>
      </div>

        <a class="ion-ios-cart button button-block button-royal fixed-bottom icon-left no-float"
           href="{{event.ticket_uri}}" style="margin:0; background: #fff; color:#441579;" ng-show="event.ticket_uri != null">Comprar Ingressos</a>

    </div>

  </div>

</ion-content>
